.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App article+article {
  margin-bottom: 30px;
}

button {
    border: 1px solid #63ccff;
    height: 35px;
    min-width: 80px;
    color: white;
    background: #039be5;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;   
}

button:active{
    background: #006db3;
}

.list-number {
  list-style: none;
  width: 200px;
  margin: auto;
  padding: 0;
  border: 1px solid #bbb;
  height: 250px;
  overflow: auto;
}

.list-number li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-number li+li {
    border-top: 1px solid #bbb;
  }